{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Side</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in history %}
                    <tr>
                        <td>{{ trade.symbol }} </td>
                        <td>{{ trade.share_qty }} </td>
                        <td>{{ trade.price }} </td>
                        <td>{{ trade.side }} </td>
                        <td>{{ trade.datetime }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
